.wallet-container {
  position  : relative;
  width     : 375px;
  height    : 600px;
  box-sizing: border-box;
}

.display-block {
  display   : block;
  width     : 100%;
  box-sizing: border-box;
}

button.btn-primary {
  background: linear-gradient(to right, #062DEB 0%, #062DEB 100%);
  border    : none;
  color     : #fff;

  &:hover,
  &:active {
    color: #fff;
  }

  &[disabled] {
    background: rgba(6, 45, 235, 0.1);
  }
}

button.btn-higher {
  height: 60px;
}

button.btn-lighter {
  color: #0B23EB;
}

button.btn-text {
  border: none;
  height: 54px;
  color : rgba(33, 39, 74, 0.6);
}

@media (min-width: 550px) {
  .wallet-container {
    width : 360px;
    border: 1px dashed #ccc;
    margin: 0 auto;
  }
}

.animated {
  animation-duration: .5s !important;
}