.main-drawer {
  background: #fff;
  min-height: 100%;
  height: 100%;
}

.main-drawer-header {
  position: relative;
  box-sizing: border-box;
  padding: 8px;
  overflow: hidden;
  text-align: center;
  height: 44px;
  border-bottom: 1px solid rgba(180, 188, 204, 0.3);
  font-weight: 400;
}

.main-drawer-body {
  height: calc(100% - 44px);
  box-sizing: border-box;
}

.main-drawer-header-close {
  position: absolute;
  left: 0;
  top: 4px;
  border: none;
  padding: 0 16px;
  height: 32px;
  line-height: 32px;
  background: url('../../static/close-icon.png') center center no-repeat;
  background-size: 12px 12px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 16px;

  > button {
    flex: 1 0 0;
  }

  > button:first-child {
    margin-right: 10px;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;

  .main-content-body {
    flex: 1 0 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  > .nav-header {
    padding: 12px 16px;
    border-bottom: 1px solid #E6E6E6;
  }

  .main-drawer-toggle {
    cursor: pointer;
    width: 14px;
    height: 14px;
  }
}