.main-wrapper {
  display       : flex;
  flex-direction: column;
  height        : 100%;

  .cells {
    flex    : 1 0 0;
    overflow: auto;
  }

  .cell {
    margin-bottom  : 17px;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;

    .addr {
      color: #062DEB;
    }

    &.no-border {
      border-bottom: none;
    }

    >label {
      font-weight: 400;
      font-size  : 14px;
      color      : #8187A5;
      display    : inline-block;
      white-space: nowrap;
    }

    >span {
      flex      : 1 0 0;
      text-align: right;
      font-size : 14px;
      color     : #21254A;
      word-break: break-all;
      max-width : 216px;
    }

    &.code-cell {
      border-bottom: none;
      display      : block;

      >label {
        display: block;
      }

      >span {
        text-align : left;
        white-space: pre-line;
      }
    }
  }

  .fees-slider-label {
    width: 100% !important;
  }

  .content {
    flex          : 1 0 0;
    display       : flex;
    flex-direction: column;
  }

  .page-title {
    line-height: 28px;
    color      : #21274A;
    font-weight: 500;
    font-size  : 20px;
    padding    : 40px 0 30px;
  }

  .footer {
    border-top : 1px solid #F0F3F7;
    height     : 208px;
    box-sizing : border-box;
    padding-top: 24px;
  }

  .button-wrapper {
    margin-top    : 30px;
    display       : flex;
    flex-direction: row;
    align-items   : center;

    >button {
      &:first-child {
        margin-right: 16px;
      }

      flex: 1 0 0;
    }
  }
}